{% extends "base.html" %}

{% block content %}
    
    <form action='/newpost' method='post'>
        <label>
            Post Title:<br>
            <input type="text" name='title' value={{title}} />
            <p class="error">{{title_error}}</p>
        </label>
        <br>
        <label>
            Post Body:<br>
            <textarea rows=10 cols=50 name='blog_text'>{{ blog_text }}</textarea>
            <p class="error">{{text_error}}</p>
        </label>
        <input type="submit" value='Create Post' />
    </form>
{% endblock %}